@{
    ViewData["Title"] = "Gizlilik Politikası";
}

<body class="bg-dark text-light">
    <div class="container-fluid text-light d-flex flex-column">
        <h1>@ViewData["Title"]</h1>
        <p>
            Bu gizlilik politikası, Spotify Takipçi Takibi uygulamasını kullanırken kişisel verilerinizin nasıl işlendiğini açıklar.
        </p>

        <h3>1. Toplanan Veriler</h3>
        <p>
            Uygulamamızı kullanırken aşağıdaki veriler toplanabilir:
            <ul class="text-start">
                <li>Spotify kullanıcı adınız</li>
                <li>Takipçi sayınız</li>
                <li>Giriş ve çıkış zamanlarınız</li>
            </ul>
        </p>

        <h3>2. Verilerin Kullanımı</h3>
        <p>
            Toplanan veriler şu amaçlarla kullanılmaktadır:
            <ul class="text-start">
                <li>Spotify takipçi değişikliklerini izlemek</li>
                <li>Size bildirimler göndermek</li>
                <li>Hesap güvenliğinizi sağlamak</li>
            </ul>
        </p>

        <h3>3. Verilerin Paylaşımı</h3>
        <p>
            Kişisel verileriniz üçüncü taraflarla paylaşılmamaktadır. Ancak yasal zorunluluklar veya yetkili merciler tarafından talep edilmesi halinde veriler paylaşılabilir.
        </p>

        <h3>4. Çerezler</h3>
        <p>
            Web sitemiz, kullanıcı deneyimini geliştirmek için çerezler (cookies) kullanabilir. Çerezleri tarayıcı ayarlarınızdan yönetebilirsiniz.
        </p>

        <h3>5. Güvenlik</h3>
        <p>
            Kişisel verilerinizin korunması için gerekli teknik ve idari önlemler alınmaktadır. Ancak, internet üzerinden yapılan veri iletimlerinde tam güvenlik garanti edilemez.
        </p>

        <h3>6. İletişim</h3>
        <p>
            Gizlilik politikamızla ilgili sorularınız için bizimle <a href="mailto:enssyilmzx@gmail.com" class="text-light">enssyilmzx@gmail.com</a> adresinden iletişime geçebilirsiniz.
        </p>
    </div>
</body>